[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.2.16"
psycopg2-binary = "*"
pillow = "*"
djangorestframework = "~=3.14.0"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"
python-decouple = "*"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.6"
